.list {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(0);
  transition: transform .4s;

  &.isCollapsed {
    overflow: hidden;
    transform: translateY(-200%);
  }
}

.collapseButton{
  margin-bottom: 20px;
  display: block;
  z-index: 1;
}
